/* /////////////////////////////////////////////////////////////////////////// */
/* COLOR PALETTE */
:root {
    /* Basic Colors */
    --colorBackground:      rgb(255,255,255);
    --colorLightText:       rgb(255,255,255);
    --colorGreyLight:       rgb(160, 160, 160);
    --colorGreyDark:        rgb(90, 90, 90);
    --colorDarkText:        rgb(0,0,0);
    --colorDrRed:           rgb(255,0,30);
    --colorDrDarkRed:       rgb(155,0,0);
    
    /* DR P5 - colorpalette */
    --colorRed:             rgb(230,105,90);
    --colorYellow:          rgb(245,195,90);
    --colorGreen:           rgb(140,200,180);
    --colorBlue:            rgb(0,75,100);
    
    /* Contrast Shades */
    --colorShadeLight:      rgb(245,240,235);
    --colorShadeDark:       rgb(45,40,45);
    --colorShadeRed:        rgb(138, 63, 54);
    --colorShadeYellow:     rgb(147, 117, 54);
    --colorShadeGreen:      rgb(84, 120, 108);
    --colorShadeBlue:       rgb(0, 45, 60);

}

/* /////////////////////////////////////////////////////////////////////////// */
/* OVERALL STYLING */

* {
    margin: 0;
    line-height: 1.5rem;
    /* letter-spacing: 0.8px; */
}

.body {
    background-color: var(--colorBackground);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* OVERLAY */

.overlay {
    position: fixed; /* Makes it a child of the overlay */
    top: 10%;
    left: 0;
    background-color: var(--colorBackground);
    color: var(--colorLightText);
    width: 100vw; /* Adjust width as per your needs */
    height: 100vh;
    z-index: 3; /* Ensure the profile content is above the overlay */
}

.overlay-header {
    background-color: var(--colorBlue);
    padding: 1.5rem 1rem 0.5rem 0.5rem;
    display: flex;
    /* gap: 0.5rem; */
    flex-direction: row;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.overlay-h1 {
    font-size: 20px;
    font-weight: 500;
}

.overlay-close {
    background-color: var(--colorBlue);
    border: none;
    padding-top: 10px;
}

.overlay-close img {
    width: 2rem;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* ERROR SECTION */

.desktop-error {
    display: none;
    padding: 2rem;
    padding-top: 10rem;
    background: linear-gradient(to top, var(--colorShadeRed), var(--colorRed));
    height: 100vh;
    text-align: center;
}

.desktop-error h1 {
    margin-top: 1rem;
    color: var(--colorLightText);
    font-size: 30px;
    font-weight: 100;
    line-height: 2.5rem;
}

.desktop-error img {
    /* width: 10%; */
    width: 9rem;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* LOGIN SECTION */
.login {
    display: none;
    background: linear-gradient(to top, var(--colorShadeRed), var(--colorRed));
    height: 100vh;
    padding: 1.5rem;
    position: fixed;
    font-size: 14px;
}

.login-container {
    background-color: var(--colorBackground);
    padding: 2rem;
    padding-top: 5rem;
    margin-top: 6rem;
    position: relative; /* Ensures the container is a positioning context for the logo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Allows stacking of logo and other content */
}

.login-container img {
    width: 25%;
    position: absolute;
    top: 0%; /* Adjust to place it overlapping the white box */
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the logo horizontally and vertically relative to the top edge */
    z-index: 1; /* Ensures it appears on top of the white box */
}

.login-container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.login-container p {
    text-align: center;
    font-size: 13px;
    /* font-style: italic; */
}

.login-form {
    margin-top: 4rem;
    font-size: 14px;
}

.login-form label {
    font-weight: 700;

}

.login-form input {
    margin-top: 5px;
    width: 65vw;
    padding: 10px;
    border: 1px solid var(--colorGreyLight);
}

.login-form button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 14px;
    padding: 10px;
    width: 70vw;
    border: none;
    background-color: var(--colorDrRed);
    color: var(--colorLightText);
    font-weight: 700;
}

.login-form button:hover {
    background-color: var(--colorDrDarkRed);
    text-decoration: underline;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* APPLICATION STYLING */
.application {
    display: none;
    padding-left: 1rem;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* HEADER */
.header {
    height: 10vh;
    margin-left: -1rem;
    padding-top: 1rem;
    background-color: var(--colorRed);
    z-index: 10;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 5fr;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.header img {
    width: 100%;
    padding-left: 1rem;
}

.header button {
    float: right;
    margin-top: 5px;
    border: none;
    background-color: var(--colorRed);
    color: var(--colorDarkText);
    font-size: 25px;
}

.section-header {
    display: flex;
    /* gap: 1rem; */
    margin-bottom: 0.5rem;
    align-items: center;
}

.section-header img {
    width: 2rem;
}

#hamburgerMenu img {
    width: 2rem;
}

#chats img {
    width: 2rem;
}

#changeInterest img {
    width: 2rem;
}


/* /////////////////////////////////////////////////////////////////////////// */
/* BURGER MENU */
.burger-menu {
    display: none;
    z-index: 5;
    background-color: var(--colorShadeDark);
    color: var(--colorLightText);
    top: 12%; 
    left: 10%;
    height: 90vh;
    width: 90vw;
    position: fixed;
    padding-top: 1rem;
}

.burger-menu-overlay {
    display: none;
    position: relative;
    background-color: var(--colorDarkText);
    opacity: 50%;
    height: 100vh;
    z-index: 5;
}

.burger-menu button {
    background-color: var(--colorDrRed);
    color: var(--colorLightText);
    font-size: 12px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 1rem;
}

.dr-nav {
    color: var(--colorDarkText);
    border-bottom: 1px var(--colorDarkText) solid;
    width: 17rem;
    padding-bottom: 5px;
    margin-left: 2rem;
}

.dr-nav a {
    margin-right: 1rem;
    font-size: 13px;
}

.menu-nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.menu-nav a {
    padding-left: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menuSpacer {
    border-bottom: 0.5px solid var(--colorGreyLight);
}

.active {
    font-weight: 900;
    background-color: rgba(90, 90, 90, 0.3);
}


/* /////////////////////////////////////////////////////////////////////////// */
/* USER PROFILE */

#profileOverlay {
    display: none;
}

#profileOverlay h1 {
    font-size: 18px;
    font-weight: 900;
}

.user-profile-info {
    margin-top: 1rem;
    margin-left: 2rem;
    color: var(--colorDarkText);
    font-size: 14px;
}

.user-overview-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.userInfoLabel {
    font-weight: 900;
}

.user-profile-interest {
    margin: 1rem;
    margin-left: 2rem;
    color: var(--colorDarkText);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* MY INTERESTS & TOGGLE */

#interestForm {
    font-size: 16px;
}

.toggleContainer {
    width: 70%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 3fr 1fr;
    margin-left: -0.5rem;
}

.toggleContainer img {
    width: 2.5rem;
}

label {
    margin-right: 10px;
    font-size: 14px;
}

input[type="checkbox"] {
    display: none; /* Hide the checkbox */
}

.toggleSwitch {
    width: 40px;
    height: 18px;
    background-color: var(--colorGreyDark);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggleSwitch::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--colorLightText);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked + .toggleSwitch {
    background-color: var(--colorRed)
}

input[type="checkbox"]:checked + .toggleSwitch::before {
    transform: translateX(20px);
}

.submit-interest {
    margin-top: 1rem;
    border: none;
    background-color: var(--colorRed);
    color: var(--colorDarkText);
    padding: 10px;
    font-weight: 700;
}

.submit-interest:disabled {
    background-color: var(--colorShadeLight);
    color: var(--colorGreyLight);
    font-weight: 100;
}



/* /////////////////////////////////////////////////////////////////////////// */
/* HEADER STYLING */
.header {
    height: 10vh;
    margin-left: -1rem;
    padding-top: 1rem;
    background-color: var(--colorRed);
    z-index: 10; /* Ensures header stays on top */
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 5fr;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
}

/* Optional: Style for closing the profile overlay (e.g., a close button) */
.user-profile-overlay .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: var(--colorLightText);
    font-size: 1.5rem;
    cursor: pointer;
}



/* /////////////////////////////////////////////////////////////////////////// */
/* CHATS */

#chatsOverlay {
    display: none;
}

.chat-entry {
    border-bottom: 1px solid var(--colorGreyLight);
    align-items: center;
    display: flex;
    padding: 1rem;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matching-users {
    color: var(--colorDarkText);
    font-weight: 500;
}

.icebreaker {
    color: var(--colorDarkText);
}

.profile-image {
    width: 10%;
    height: 10%;
    border-radius: 20px;
    margin-right: 10px;
}

.name-displayer {
    color: var(--colorDarkText);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.name-displayer img {
    width: 1.2rem;
}

.message-preview {
    color: var(--colorGreyDark);
    font-size: 14px;
}


/* /////////////////////////////////////////////////////////////////////////// */
/* SPECIFIC CHAT */

#chatOverlay {
    display: none;
}

.chat-overlay-header {
    background-color: var(--colorBackground);
    padding: 2rem 2rem 1rem 1rem;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
    color: var(--colorDarkText);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-overlay-h1 {
    font-size: 20px;
    font-weight: 500;
}

.chat-overlay-close {
    background-color: var(--colorBackground);
    color: var(--colorDarkText);
    border: none;
    top: 0;
    left: 0;
    font-size: 14px;
}

.chatProfileContainer {
    text-align: center;
    margin-bottom: 0.5rem;
}

.chatProfilePicture {
    width: 10%;
    border-radius: 50px;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.chatMultiNames {
    display: flex;
    flex-direction: column;
    margin: 0; /* Ensure there's no margin applied to the container */
    padding: 0; /* Ensure there's no padding applied to the container */
}

.chatProfileName, .chatProfileNickname {
    margin: 0; /* Remove any default margin applied to <p> elements */
    padding: 0; /* Remove any padding applied to <p> elements */
    line-height: 1.1; /* Tighten the line height */
}

.chatProfileName {
    color: var(--colorGreyDark);
    font-size: 12px;
}

.chatProfileNickname {
    color: var(--colorDarkText);
    font-size: 18px;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* DISPLAY MESSAGE */

#message-timeline {
    padding-top: 1rem;
    max-height: 580px; /* Set a height to limit the area */
    overflow-y: auto; /* Adds vertical scrolling when content overflows */
    padding-right: 10px; /* Optional: Prevents scrollbar from covering content */
  }

.message-element {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.message-date {
    color: var(--colorGreyLight);
    font-size: 12px;
    text-align: center;
}

.message-time {
    color: var(--colorGreyLight);
    font-size: 12px;
}

.message-text {
    background-color: var(--colorGreen);
    color: var(--colorDarkText);
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}



/* /////////////////////////////////////////////////////////////////////////// */
/* MESSAGE INPUT */

.message-input {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.inputStyle {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--colorGreyLight);
}

.inputStyle img {
    width: 1.8rem;
}

#userMessage {
    width: 60%;
    padding-left: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--colorShadeLight);
}

#submitMessage {
    background-color: var(--colorRed);
    border: none;
    width: 5rem;
    border-radius: 0px 20px 20px 0px;
}


/* /////////////////////////////////////////////////////////////////////////// */
/* ICEBREAKER */

#displayIcebreaker {
    border: none;
    background-color: var(--colorGreyLight);
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
}

#icebreaker {
    margin: 1rem;
}

.icebreaker-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icebreaker img {
    width: 1.5rem;
    margin-right: 5px;
}

#icebreakerSection {
    display: none;
    background-color: var(--colorBlue);
    color: var(--colorLightText);
    padding-bottom: 10px;
}

.icebreaker-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.icebreaker-header h1 {
    color: var(--colorShadeBlue);
}

.icebreaker-header button {
    border: 1px solid var(--colorLightText);
    background-color: var(--colorBlue);
    color: var(--colorLightText);
}

.icebreaker-question {
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid var(--colorGreyLight);
}



/* /////////////////////////////////////////////////////////////////////////// */
/* ALL MATCHES */

#matchesOverlay {
    display: none;
}


.match-entry {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--colorGreyLight);
    padding: 1rem;
    color: var(--colorDarkText);
}

.match-text-block {
    display: flex;
    justify-content: space-between; /* This ensures space between the username and the status + button */
    align-items: center;
    width: 100%;
}

.match-name-displayer {
    margin-right: auto; /* Aligns the name to the left */
}

.open-chat-button {
    background-color: var(--colorBackground);
    border: none;
    padding: 0; /* No padding */
    margin: 0; /* No margin */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem; /* Set the button width to the same as the image */
    height: 3rem; /* Set the button height to match */
}

.open-chat-button img {
    width: 100%; /* Make the image fill the entire button */
    height: 100%; /* Ensure the image takes the full height */
    object-fit: cover; /* Ensure the image maintains its aspect ratio and covers the entire button */
}



.delete-chat-button {
    background-color: var(--colorRed);
    border: none;
    color: var(--colorDarkText);
    padding: 5px;
}

.chat-status, .delete-chat-button {
    margin-left: 10px; /* Adds some space between status and button */
}

.chat-status-icon {
    width: 3rem;
}
  


/* /////////////////////////////////////////////////////////////////////////// */
/* NOTIFICATIONS */

.log-notifications {
    background-color: var(--colorBlue);
    margin-top: -2rem;
    margin-left: -1rem;
    padding: 1rem;
}

.log-notifications h1 {
    /* margin-top: 10px; */
    margin-bottom: -20px;
    color: var(--colorLightText);
}

.log-notifications img {
    margin-top: 20px;
}

.notifications-container {
    margin-right: -1rem;
    display: flex; 
    flex-direction: row; 
    overflow-x: auto; 
    scrollbar-width: none;
}

.notiDetails {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.notiCreate {
    color: var(--colorGreen);
    font-size: 12px;
}

.notiTheme {
    color: var(--colorGreyLight);
    font-size: 12px;
}

.notification {
    color: var(--colorLightText);
    width: 20rem; /* Frame width for each notification */
    min-width: 20rem; /* Ensures consistency when scrolling */
    overflow: hidden; /* Prevent overflow of content */
    font-size: 14px;
}

.notification p {
    word-wrap: break-word; /* Force long words to wrap */
}

.chat-button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--colorRed);
    border: none;
    color: var(--colorDarkText);
}


.timeline-container {
    margin-top: 0.5rem;
    height: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-line {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--colorYellow);
    z-index: 1;
}

.timeline-bullets {
    position: absolute; /* Positioning them on top of the timeline line */
    top: 5px; /* Adjust bullets to align with the line in the middle */
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 1rem; Adjust gap between bullets */
    z-index: 2;
}

.timeline-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--colorYellow);
    border-radius: 50%; 
    position: absolute; 
    top: -0.5rem; 
}


/* /////////////////////////////////////////////////////////////////////////// */
/* EXPLORE MATCHES */

#exploreMatches {
    display: flex;
    flex-direction: row; 
    /* gap: 1rem; */
    overflow-x: auto; 
    scrollbar-width: none;
}

.match-container {
    background-color: var(--colorBlue);
    color: var(--colorLightText);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    flex-shrink: 0;
    width: 9.5rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.match-container p {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.match-view {
    margin-top: 3rem;
    background-color: var(--colorRed);
    border: none;
    padding: 5px;
    width: 100%;
    color: var(--colorDarkText);
}

.match-chat {
    display: none;
    background-color: var(--colorRed);
}

.simpleMatch {
    margin: 1rem auto 0rem auto;
    border: 1px solid var(--colorBlue);
    /* background-color: var(--colorShadeBlue); */
    font-size: 12px;
    font-weight: 500;
    color: var(--colorShadeBlue);
    text-align: center;
    width: 40%;
}

.newMatch {
    margin: 1rem auto 0rem auto;
    border: 1px solid var(--colorGreen);
    font-size: 12px;
    font-weight: 500;
    color: var(--colorGreen);
    text-align: center;
    width: 50%;
}

.superMatch {
    margin: 1rem auto 0rem auto;
    border: 1px solid var(--colorYellow);
    font-size: 12px;
    font-weight: 500;
    color: var(--colorYellow);
    text-align: center;
    width: 70%;
}

.interests-match-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
}

.interests-match-list img{
    width: 2.5rem;
}

.interest-info-view {
    align-items: center;
    display: flex;
    margin-left: -0.5rem;
    font-size: 14px;
}

.interests-info-list {
    width: 2.5rem;
}



/* /////////////////////////////////////////////////////////////////////////// */
/* SPECIFIC MATCH */

#specificMatchOverlay {
    display: none;
    font-size: 14px;
}

.profileContainer {
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
}

.profilePicture {
    width: 15%;
    border-radius: 50px;
}

.specific-match {
    color: var(--colorDarkText);
}

.specificMatch-info {
    padding: 2rem;
}


.match-overlay-header {
    background-color: var(--colorBackground);
    padding: 2.2rem 2rem 1rem 0.5rem;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.match-overlay-header img {
    width: 2rem;
}

.match-overlay-h1 {
    font-size: 20px;
    font-weight: 500;
}

.match-overlay-close {
    background-color: var(--colorBackground);
    border: none;
    top: 0;
    left: 0;
    font-size: 14px;
    color: var(--colorDarkText);
}

.match-overall-percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.match-overall-percentage h3 {
    font-size: 14px;
}

.match-overall-percentage p {
    color: var(--colorGreyLight);
}



.match-progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--colorShadeLight);  /* Light grey background */
    overflow: hidden;
}

.match-progress-bar .filled {
    height: 100%;
    background-color: var(--colorYellow);  /* Yellow fill color */
    width: 0%;  /* Initially set to 0% */
    transition: width 0.3s ease;  /* Smooth transition for progress */
}

.chat-start-button {
    width: 100%;
    padding: 5px;
    background-color: var(--colorRed);
    color: var(--colorDarkText);
    text-align: center;
    border: none;
}


/* /////////////////////////////////////////////////////////////////////////// */
/* INTERESTS OVERVIEW */
.interests-overview {
    background-color: var(--colorShadeLight);
    margin-left: -1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.interests-overview-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.interests-overview-header button {
    color: var(--colorRed);
    border: none;
    padding: 0;
    margin-top: -0.5rem;
    margin-right: 1rem;
}

.interest-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--colorGreyLight);
    color: var(--colorGreyDark);
    width: fit-content;
    white-space: nowrap;
    font-size: 15px;
}

.interest-item img {
    width: 3rem; 
    height: 3rem;
    opacity: 40%;
    /* margin-right: 5px;  */
}

.title-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#matchingInterestsContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
}

#matchingInterestsCount {
    margin-top: 10px;
    font-size: 14px;
    color: var(--colorGreyDark);
}











