/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* APPLY ///////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.apply {
    background-color: rgb(114, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* WEB /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.web {
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SoMe ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.some {
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* UX/UI ///////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.uxui {
    background-color: chocolate;
    font-family: fantasy;
}






